svg#logo {
	width: 100%;
}

svg#logo text {
	fill: url(#p-stripes);
font-family: Helvetica;
	font-size: 10rem;
	dominant-baseline: middle;
}

.tag-line {
	font-size: 1.25rem;
	line-height: 2rem;
}

.desc {
	font-size: 0.75rem;
	line-height: 1.25rem;
}
