
<html>
	<head>
		<title>ColorMathJS - Documentation</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#41A015"/>

		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#41A015"/>

		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="keywords" property="color,hexadecimal,gradient,javascript,web,contrast,ratio,documentation">
		<meta name="description" property="Documentation for creating colors, creating gradients and colors, and getting contrast ratios.">

		<script type="application/ld+json">
		{"@context":"http://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Documentation","@id":"https://dpfens.github.io/ColorMathJS/docs.html","image":""}]}
		</script>

		<link rel="canonical" href="https://dpfens.wm.edu/ColorMathJS/"/>
		
		<link rel="stylesheet" href="css/foundation.css" />
		<link rel="stylesheet" href="css/prism.css" />
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/docs.css" />
		<link rel="stylesheet" href="fonts/black-tie/css/black-tie.min.css" />
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	
	<body>
		<svg id="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<defs>
				<linearGradient id="Gradient">
					<stop offset="0%" stop-color="crimson" /><stop offset="10%" stop-color="purple" />
          				<stop offset="10%" stop-color="red" /><stop offset="20%" stop-color="crimson" />
          				<stop offset="20%" stop-color="orangered" /><stop offset="30%" stop-color="red" />
          				<stop offset="30%" stop-color="orange" /><stop offset="40%" stop-color="orangered" />
          				<stop offset="40%" stop-color="gold" /><stop offset="50%" stop-color="orange" />
          				<stop offset="50%" stop-color="yellowgreen" /><stop offset="60%" stop-color="gold" />
          				<stop offset="60%" stop-color="green" /><stop offset="70%" stop-color="yellowgreen" />
          				<stop offset="70%" stop-color="steelblue" /><stop offset="80%" stop-color="skyblue" />
          				<stop offset="80%" stop-color="mediumpurple" /><stop offset="90%" stop-color="steelblue" />
          				<stop offset="90%" stop-color="purple" /><stop offset="100%" stop-color="mediumpurple" />
				</linearGradient>
				<pattern id="p-stripes"  patternUnits="userSpaceOnUse" width="200" height="200" viewbox="0 0 200 200">
					<rect width="200" height="200" fill="url(#Gradient)"/>
				</pattern>

			</defs>

			<text dx="50%" dy="50%" align text-anchor="middle">ColorMathJS</text>
		</svg>
	<header class="top-bar">
		<ul class="vertical medium-horizontal menu icon-top top-bar-left">
			<li><a href="index.html">Home</a></li>
		</ul>
		<ul class="vertical medium-horizontal menu icon-top top-bar-right">
			<li><a href="docs.html">Docs</a></li>
			<!--li><a href="tool.html">Tool</a></li-->
		</ul>
	</header>
		
		<section id="docs" ng-app="docsApp" >
			<div class="inner-container view-container" ng-controller="overviewController" >
			
				<aside class="sticky" ng-controller="listController">
					<div >
	            			<div data-magellan>
						<a href="#dependencies">Dependencies</a>
						<div ng-repeat="module in docs">
							<h3><a ng-href="#{{module.name}}">{{module.name}}</a></h3>
							<ul class="method-list">
								<li ng-repeat="method in module.methods"><a ng-href="#{{method.name}}" >{{method.name}}</a></li>
							</ul>
						</div>
					</div>
					</div>
				</aside>
			
			
			
			<article class="view-container small-12 medium-10 columns">
			
				<h1>Documentation</h1>
                
                <p>Welcome to ColorMathJS Documentation.  This documentation is divided into modules. After reading the extremely short installation guide, I recommend that you get started with the Color class.</p>
                
                <a class="button" href="https://github.com/dpfens/ColorMathJS/archive/master.zip">Download</a>

		<div id="dependencies" data-magellan-target="dependencies">
		<h2>Dependencies</h2>
		<p>ColorMathJS has no dependencies. It works on all platforms that support Javascript.</p>
		</div>
				
				<div ng-controller="moduleController" id="{{module.name}}" data-magellan-target="{{module.name}}" data-magellan-target="{{module.name}}" ng-repeat="module in docs">
					<h2>{{module.name}}(<span ng-repeat="argument in module.arguments"><span ng-if="argument.optional">[</span><span class="parameter-type">{{argument.units}}</span> {{argument.name}} <span ng-if="argument.default">{{argument.default}}</span><span ng-if="argument.optional">]</span><span ng-if="!$last">,</span> </span>)</h2>
				
					<p ng-bind-html="module.description"></p>
				
					<prism language="javascript" code="{{module.example}}"></prism>
			
			
					<article ng-repeat="method in module.methods" class="method" ng-controller="methodController" id="{{method.name}}" data-magellan-target="{{ method.name }}">
						<hr/>
						<h3>{{method.name}}(<span ng-repeat="argument in method.arguments"><span ng-if="argument.optional">[</span><span class="parameter-type">{{argument.units}}</span> {{argument.name}} <span ng-if="argument.default">{{argument.default}}</span><span ng-if="argument.optional">]</span><span ng-if="!$last">,</span> </span>)</h3>
				
						<p ng-bind-html="method.description"></p>
				
						<prism language="javascript" code="{{method.example}}"><prism>
				
					</article>
				
				</div>
			
			</article>
			
			</div>
		</section>
	
	
	</body>
	<script src="js/lib/jquery-2.1.4.min.js"></script>
	<script src="js/lib/foundation.min.js"></script>
	<script src="js/lib/prism.js"></script>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-sanitize.min.js"></script>
	<script src="js/lib/angular-animate.min.js"></script>
	<script src="js/docs.js"></script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-56708312-3', 'auto');
	ga('send', 'pageview');

	</script>
</html>
